/* just for testing */
.container{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.icon {
    cursor: pointer;
} 